SecurityManagementAuto/__pycache__/SecurityManagementAuto.cpython-38.pyc
SecurityManagementAuto/__pycache__/CheckSecurityItem.cpython-38.pyc
SecurityManagementAuto/policy.inf
SecurityManagementAuto/checkResult.log
SecurityManagementAuto/.vscode/settings.json
